<a href="https://colab.research.google.com/github/sami00712/python-task/blob/main/py_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a variable for your name, age, and your favorite number.

Print their data types using type().

Convert your favorite number to a string and print the result.

In [ ]:
name = "sami"
age = 18
favorite_number = 10

print(type(name), type(age), type(favorite_number))

fvrt_nmbr = str(favorite_number)
print(type(fvrt_nmbr), fvrt_nmbr)

<class 'str'> <class 'int'> <class 'int'>
<class 'str'> 10

# **# üß™ Practice Tasks:**


1- Write a program that checks if a number is positive, negative, or zero.

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
  print("Number is Positive !!")
elif num < 0:
  print("Number is Negative !!")
else:
  print("Number is Zero !!")

Enter a number: 0
Number is Zero !!

2- Write a program that checks if your name is "Sami"
 ‚Äî if yes, print "Welcome, Sami!", else "Who are you?".

In [ ]:
name = "Sami"
if name == "Sami":
  print("Welcome Sami !!")
else:
  print("Who are you ??")

Welcome Sami !!

3- Write a grading system using marks input.

In [ ]:
marks = int(input("Enter your marks: "))
if marks >= 90:
  print("You are A1 Grade !!")
elif marks >= 80:
  print("You are A Grade !!")
elif marks >= 70:
  print("you are B Grade !!")
elif marks >= 33:
  print("You are C Grade !!")
else:
  print("You are Fail !!!")

Enter your marks: 97
You are A1 Grade !!

A person wants to enter an event. The rules are:

The person must be 18 years or older.

The person must also have a valid ticket (True/False).

In [ ]:
age = int(input("Enter your age: "))
ticket = input("Do you have ticket Yes or No ??: ")

if age >= 18:
  if ticket == "Yes":
    print("Entry ‚úî‚úî")
  else:
    print("Ticket ‚ùå")
else:
  print("No Entry ‚ùå‚ùå")

Enter your age: 16
Do you have ticket Yes or No ??: No
No Entry ‚ùå‚ùå

# **# üß™ Practice Tasks:**
Print numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Print even numbers from 2 to 20 using for and range().

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

Print 1 to 5 using a while loop

In [ ]:
num = 1
while num <= 5:
  print(num)
  num +=1

1
2
3
4
5

Use a for loop with break to stop the loop when the number reaches 4.

In [ ]:
for i in range(10):
  if i == 4:
    break
  print(i)

0
1
2
3

 Use continue to skip number 3 in a loop from 1 to 5.

In [ ]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

Create a simple function that prints your name.

In [ ]:
def my_name():
  print("My name is Sami")

my_name()

My name is Sami

Create a function that takes a number and prints its square.

In [ ]:
def square(num):
  print(num**2)

square(6)

36

Create a function that takes two numbers and returns their sum.

In [ ]:
def sum(num1, num2):
  print(num1 + num2)

sum(4,7)
sum(3,3)

11
6

Create a function that checks if a number is even or odd and prints the result.

In [ ]:
def even_odd(num):
  if num % 2 == 0:
    print("Even Number")
  else:
    print("Odd Number")

even_odd(int(input("Enter a number to check odd or even: ")))

Enter a number to check odd or even: 5
Odd Number

Create a function that calculates the factorial of a number.

In [ ]:
def factorial(num):
  result = 1
  for i in range(1, 1+ num):
    result *= i
  return result

result = factorial(6)
print("Result is = ", result)

Result is =  720

Create a list of your favorite movies, add/remove items, and print each with a loop.

In [ ]:
movies = ["KGF","Geetha Govindam","Soldier"]
movies.remove("Soldier")
print(movies)

['KGF', 'Geetha Govindam']

Create a dictionary with your personal details and print each item clearly.

In [ ]:
my_details : dict = {
    "name" : "Sami",
    "age": 18,
    "city": "Karachi"
}

for key, value in my_details.items():
  print(key, ":", value)

name : Sami
age : 18
city : Karachi

List of dictionaries (like student records or products)

In [ ]:
students_records = [
    {
        "name": "Sami",
        "age": 18,
        "city": "Karachi"
    },
    {
        "name": "Ali",
        "age": 19,
        "city": "Lahore"
    }
]
print(type(students_records), "= ", students_records)
print(students_records[0]["name"])

<class 'list'> =  [{'name': 'Sami', 'age': 18, 'city': 'Karachi'}, {'name': 'Ali', 'age': 19, 'city': 'Lahore'}]
Sami

üî• üéØ Real-Life Task: "My Career Profile App"

‚û§ In this task, you will create your own basic career profile app using Python.

‚úÖ Use a **Tuple** to store your personal information like name, age, and city (immutable data).

‚úÖ Use a **Set** to store your unique languages (no duplicates allowed).

‚úÖ Finally, write all the data into a **file**, and then read and display it.

This task combines real-world concepts with Python basics and helps you understand how applications like resume builders work using core Python logic.

In [ ]:
profile_info = ("Sami", 18, "Karachi")
my_languages = {"Urdu", "English", "Sindhi"}
with open("profile.txt", "w") as file:
  file.write(f"Name: {profile_info[0]}\n")
  file.write(f"Age: {profile_info[1]}\n")
  file.write(f"city: {profile_info[2]}\n")
  file.write("Languages:\n")
  for i in my_languages:
   file.write(f"--{i}\n")
with open("profile.txt", "r") as file:
  print(file.read())

Name: Sami
Age: 18
city: Karachi
Languages:
--English
--Urdu
--Sindhi

Create a class called Car with attributes brand and model. Add a method display_info() that prints both.

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model
  def display_info(self):
      print(f"Brand: {self.brand}")
      print(f"Model: {self.model}")

my_car = Car("Toyota", "Corolla")
my_car2 = Car("Honda", "Civic")
my_car.display_info()
my_car2.display_info()

Brand: Toyota
Model: Corolla
Brand: Honda
Model: Civic

Make a class BankAccount that takes name and balance, and has a method check_balance().

In [ ]:
class BankAccount:
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance
  def check_balance(self):
    print(f"Name: {self.name}")
    print(f"Balance: {self.balance}")
acc = BankAccount("Sami",2232)
acc.check_balance()

Name: Sami
Balance: 2232

Build a class Book with title and author and a method get_details() that returns a formatted string.

In [ ]:
class Book:
  def __init__(self, title, author):
    self.title = title
    self.author = author
  def get_details(self):
    return f"Book Tittle: {self.title} \n Book Author: {self.author}"
book = Book("The Magic", "Sami")
print(book.get_details())

Book Tittle: The Magic
 Book Author: Sami

Create a class Rectangle with attributes length and width, and a method area() to return area.

In [ ]:
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
rec = Rectangle(10,20)
print(rec.area())

200